.about-gallery {
	margin-left: -2em;
	margin-right: -2em;
	font-size: 1.6rem;

	.col + .col {
		margin-left: 0;
	}

	.user + .user, .col + .col {
		border-top: 1px solid #ccc;
	}

	@include breakpoint($on-small) {
		.user + .user, .col + .col {
			border: 0;
		}
	}

	@include breakpoint($on-medium) {
		flex-wrap: nowrap;
		margin-left: 0;
		margin-right: 0;

		.row + .row {
			border-top: 1px solid #ccc;
		}

		.col + .col {
			position: relative;

			&:before {
				position: absolute;
				height: 100%;
				width: 1px;
				background: #ccc;
				content: "";
				left: 0;
				top: 0;
				transform: rotate(-5deg);
			}
		}

		.user + .user {
			border-top: 1px solid #ccc;
		}

		.col + .col {
			border: 0 !important;
		}
	}

	.user {
		padding: 2em 2em 2em 1em;
		text-align: center;

		&.-with-picture {
			height: 300px;
			overflow: hidden;
		}
	}

	.image {
		width: 128px;
		min-width: 128px;
		border-radius: 50%;
		border: 1px solid #fff;
		box-shadow: 0px 0px 0px 1px #ccc;
	}
}