button,
.button {
	background: $accent-color;
	border: 1px solid darken($accent-color, 5);
	border-bottom-color: darken($accent-color, 10);
	border-radius: 3px;
	box-shadow: 0 1px 5px #f1f1f1;
	color: white;
	font-size: 1.6rem;
	padding: .5em 1.5em;
	pointer: cursor;
	transition: all .2s linear;
	bottom: 0;
	position: relative;

	&:hover {
		bottom: 2px;
		color: #fff;
		background: lighten($accent-color, 5);
		box-shadow: 0 2px 5px darken(#f1f1f1, 20);
	}

	&:active {
		background: darken($accent-color, 5);
	}

	.icon {
		margin-right: .5em;
	}
}

ul button, ul .button {
	display: block;

	@include breakpoint($on-medium) {
		display: inline-block;
	}
}