
.bottom-footer {
	margin-top: 0;
	background: #313438;
	color: #9b9fa6;
	font-family: "Oak Light", sans-serif;
	font-size: 1.3rem;

	a {
		color: #9b9fa6;
		transition: color .2s linear;

		&:hover {
			color: #fff;
		}
	}

	> .top {
		padding: 75px 4em 0;
	}

	> .footer {
		margin-top: 2em;
		padding: 1em 2em;
		background: #292c2f;
		color: #777b81;
	}

	@include breakpoint($on-medium) {
		> .top {
			padding-top: 2em;
			padding-right: calc(30% + 4em);
		}

		> .footer {
			padding-right: calc(30% + 4em);
		}

		.col {
			margin-left: 1em;
			margin-right: 1em;
		}
	}
}

.refer-links {
	margin-bottom: 4em;
	align-items: center;
	justify-content: space-between;

	> .col {
		flex-basis: 300px;
		flex-grow: 0;
		padding-top: 2em;
	}

	.refer-link {
		opacity: .5;
		transition: opacity .2s linear;

		&:hover {
			opacity: 1;
		}
	}
}

figure.MPI-Logo {
	display: table;
	width: 100%;

	> img {
		display: table-cell;
		width: 96px;
		vertical-align: middle;
	}

	> span {
		padding-left: 1em;
		font-size: 1.4rem;
		display: table-cell;
		vertical-align: middle;
	}
}