.tag {
	display: inline-block;
	border-radius: 4px;
	background: $accent-color;
	color: #fff;
	text-transform: uppercase;
	font-family: "Oak Light", sans-serif;
	font-size: 1.1rem;
	padding: .25em .5em;
	letter-spacing: 0.05em;
}