[run]
include =
    syconn/*
omit =
    syconn/batchjob_scripts/QSUB_*
    syconn/batchjob_scripts/batch_*
    knossos_utils/*
    tests/*
    syconn/cnn/*
    syconn/analysis/reconnect_proofreading.py
    syconn/analysis/syconn_knossos_viewer.py
    syconn/analysis/syconn_graphwalker.py
    syconn/analysis/server.py
    */__init__.py
