name: syconn
channels:
  - ukoethe
  - defaults
  - menpo
  - conda-forge
dependencies:
  - colorlog >=3.1.4
  - h5py >=2.8.0
  - ipython <7.0.0
  - matplotlib >=2.2.2
  - numba==0.41.0
  - llvmlite==0.26.0
  - python
  - scikit-image >=0.13.1
  - seaborn >=0.8.1
  - tqdm >=4.23.3
  - numpy>=1.11.1
  - scikit-learn == 0.19.1
  - prompt-toolkit < 2.0
  - scipy >=1.1.0
  - networkx
  - lz4
  - configobj
  - flask
  - fasteners
  - pyopengl
  - opencv
  - vigra
  - osmesa
  - m2r
  - openmesh
  - snappy
  - python-snappy

  # For docs:
  - sphinx >=1.7.5
  - sphinx-autodoc-typehints >=1.3.0
