---
layout: default
permalink: /getting-started/
---

<div class="main-content container -medium _center">
	<header class="header row container -medium _center">
		<article class="row__col">
			<h2 class="subtitle">Getting Started</h2>
			<p>Something</p>
		</article>

		<aside class="row__col">
			{% include navigation.html %}
		</aside>
	</header>

	<section >
		<p>Python 2.7 is required (we recommend Anaconda). SyConn has been tested on Linux distributions so far (CentOS and Arch Linux).</p>
	</section>

	<section class="inbetween-section">
		<span class="tag">Quickstart</span>

		
		{% include code_installation.html %}
		
	</section>

	<section>
		<p>Example instructions ...</p>
	</section>
</div>