---
layout: default
---

<header class="header row" id="Top">
	<div class="col">
		<h1>SyConn</h1>

		<p class="subtitle">Automated synaptic connectivity inference<br> for volume electron microscopy</p>

		<ul class="button-list -horizontal">
			<li><a class="button" href="#"><i class="icon ion ion-code"></i> Source Code</a></li>
			<li><a class="button" href="#"><i class="icon ion ion-university"></i> Documentation</a></li>
		</ul>
	</div>

	<div class="col">
		<!-- {% include navigation.html %} -->
	</div>
</header>
<!-- 
<section class="section">
	<article class="row">
		<div class="col">
			<h2 class="subtitle">About the Paper</h2>

			<p>At first, membrane and intracellular space is predicted as barrier (black) and cell components, such as mitochondria (blue), vesicle clouds (green) and synaptic junctions (red) are inferred using a CNN with a 3D perceptive field of view (image below). Additionally, another 3D CNN predicts symmetric and asymmetric synaptic junction regions which get combined with the predicted synaptic junctions later on.</p>
		</div>

		<div class="col">
			<aside class="-no-padding comparison-slider">
				<div class="cocoen">
					<img src="{{ "images/img_182.png" | prepend: site.baseurl }}" alt="">
					<img src="{{ "images/overlay_test_182.png" | prepend: site.baseurl }}" alt="">
				</div>
			</aside>
		</div>
	</article>
</section>

<section class="section">
	<article>
		<h2 class="subtitle">References</h2>

		<p>SyConn is based on <strong class="-strong-light">ELEKTRONN</strong> (<a href="http://elektronn.org">elektronn.org</a>) and the KNOSSOS Python tools.<sup>1</sup></p>

		<ol class="footnotes">
			<li><sup>1</sup>KNOSSOS is used for visualization and annotation of 3D EM data sets.</li>
		</ol>
	</article>
</section>

<section class="section">
	<article>
		<header>
			<h2 class="subtitle">Getting Started</h2>
			<p>Something</p>
		</header>

		<p>Python 2.7 is required (we recommend Anaconda). SyConn has been tested on Linux distributions so far (CentOS and Arch Linux).</p>
	</article>

	<article class="inbetween-article">
		<span class="tag">Quickstart</span>

		{% include code_installation.html %}
	</article>

	<article>
		<p>Example instructions ...</p>
	</article>
</section>
 -->
<section class="section" id="AboutSection">
	<article>
		<header>
			<h2 class="subtitle">The People behind SyConn</h2>
		</header>

		<div class="about-gallery row">
			<div class="col">
				<div class="user">
					<img class="image" src="{{ "images/team/sven.jpg" | prepend: site.baseurl }}">

					<h4>Sven Dorkenwald</h4>
					<p>Master Student of Informatics</p>
				</div>
				
				<div class="user">
					<img class="image" src="{{ "images/team/philipp.jpg" | prepend: site.baseurl }}">
					<div class="description">
						<h4>Philipp Schubert</h4>
						<p>Master Student of Physics</p>
					</div>
				</div>
			</div>

			<div class="col">
				<div class="user">
					<img class="image" src="{{ "images/team/marius.jpg" | prepend: site.baseurl }}">
					<div class="description">
						<h4>Marius Killinger</h4>
						<p>Master Student of Physics</p>
					</div>
				</div>

				<div class="user">
					<img class="image" src="{{ "images/team/joergen.png" | prepend: site.baseurl }}">
					<div class="description">
						<h4>Jörgen Kornfeld</h4>
						<p>Ph.D. Student</p>
					</div>
				</div>
			</div>
		</div>
	</article>
</section>