ipython
h5py
matplotlib>=2.2.2
tqdm
scipy>=1.1.0
networkx
m2r
zmesh
sphinx-autodoc-typehints >=1.3.0
sphinx >=1.7.5
lz4
configobj
flask
fasteners
numpy==1.16.4
coloredlogs
termcolor
scikit-learn
scikit-image
pyopengl
opencv-python
numba==0.42.0
plyfile
openmesh==1.1.3
pytest
pytest-runner
prompt-toolkit
git+git://github.com/knossos-project/knossos_utils@dev#egg=knossos_utils
git+git://github.com/ELEKTRONN/elektronn3@phil#egg=elektronn3
vtki
dill
seaborn