<div class="code-block"><pre class="line-numbers">1
2
3
4
5
6</pre><pre><code>{% highlight shell %}git clone https://github.com/StructuralNeurobiologyLab/SyConn
cd SyConn
pip install -r requirements.txt --upgrade

# Run the example (with sample data from the link on top of this page): {% endhighlight %}{% highlight python %}python2 SyConn/examples/full_run_example.py </path/to/example_folder> [--gpus {None | <int> <int> ...}, --CNNsize {1 | <int>}, --qsub_pe {None | <str>}, --qsub_queue {None | <str>}]
{% endhighlight %}</pre></code></div>