<footer class="bottom-footer">
	<div class="top container -medium _center">
		<div class="row refer-links">
			<div class="refer-link col">
				<a href="{{ site.data.syconn.mpimf-url }}">
					<figure class="MPI-Logo">
						<img src="{{ "/images/mpi.svg" | prepend: site.baseurl }}" alt="MPI Logo" />
						<span>Max Planck Institute for Medical Research</span>
					</figure>
				</a>
			</div>

			<div class="refer-link col">
				<a href="{{ site.data.syconn.neuro-url }}">
					<img class="" src="{{ "/images/mpi-of-neurobiology.png" | prepend: site.baseurl }}" alt="Max Planck Institute of Neurobiolgy Logo" />
				</a>
			</div>

			<div class="refer-link col">
				<a href="{{ site.data.syconn.elektronn-url }}">
					<img class="" src="{{ "/images/elektronn-title.svg" | prepend: site.baseurl }}" alt="ELEKTRONN Logo" />
				</a>
			</div>
		</div>

		<div class="row">
			<div class="col">
				<ul class="sub-navigation">
					<li><a href="#Top">Top</a></li>
					<li><a href="#GettingStartedSection">Getting Started</a></li>
					<li><a href="#AboutSection">Contributors</a></li>
				</ul>
			</div>

			<div class="col">
				<ul class="sub-navigation">
					<li><a href="{{ site.data.syconn.mpimf-url }}">Max Planck Institute for Medical Research, Heidelberg, Germany</a></li>
					<li><a href="{{ site.data.syconn.neuro-url }}">Max Planck Institute of Neurobiolgy, Martinsried, Germany</a></li>
				</ul>
			</div>

			<div class="col">
				<ul class="sub-navigation">
					<li><a href="{{ site.data.syconn.github-repo-url }}">GitHub Repository</a></li>
					<li><a href="{{ site.data.syconn.doc-url }}">Documentation</a></li>
				</ul>
			</div>
		</div>
	</div>

	<div class="footer">
		<div class="container -medium _center">
			<p>© 2017 — Sven Dorkenwald, Philipp Schubert, Jörgen Kornfeld</p>
		</div>
	</div>
</footer>