<nav>
	<ul class="main-navigation">
		<li><a class="link" href="{{ "" | prepend: site.baseurl }}"><i class="icon ion ion-home"></i><span class="icon-label">Home</span></a></li>
		<li><a class="link" href="{{ "getting-started/" | prepend: site.baseurl }}"><i class="icon ion ion-log-in"></i><span class="icon-label">Getting Started</span></a></li>
		<li><a class="link" href="{{ "about/" | prepend: site.baseurl }}"><i class="icon ion ion-help"></i><span class="icon-label">About the Paper</span></a></li>
		<li><a class="link" href="{{ "about/" | prepend: site.baseurl }}"><i class="icon ion ion-ios-people"></i><span class="icon-label">About Us</span></a></li>
	</ul>
</nav>