@media (min-width: $on-small) {
	.row {
        display: flex;
        flex-flow: row wrap;
		
		> .col {
			flex: 1;

			&.-grow-2 {
				flex-grow: 2;
			}
		}

		> .col + .col {
			margin-left: 2em;
		}
    }

    .row.row--align-top { align-items: flex-start }
	.row.-middle { align-content: center; align-items: center }
	.row.-no-wrap { flex-wrap: nowrap }
}