@media (min-width: $on-small) {
	.row {
        display: flex;
        flex-flow: row nowrap;

		> .col {
			flex: 1;

			&.-grow-2 {
				flex-grow: 2;
			}
		}

		> .col + .col {
			margin-left: 2em;
		}
    }
}