html {
	font-size: 62.5%;
}

body {
	font-family: "Source Sans Pro", serif;
	font-size: 1.6rem;
	line-height: 1.6;
	color: darken(#777b81, 5);
	font-weight: 300;
}

p + p,
h1 + *,
h2 + *,
h3 + *,
h4 + *,
h5 + *,
h6 + *,
li ~ li {
	margin-top: 1em;
}

h1, h2, h3, h4, h5, h6 {
	font-family: "Oak Light", sans-serif;
	color: darken(#777b81, 15);
	font-weight: 600;
	line-height: 1.2;
}

h1 {
	font-size: 3.6rem;
}

p.subtitle {
	font-style: italic;
	color: #000;
}

p + p {
	text-indent: 2em;
}

h2.subtitle {
	font-size: 2.4rem;

	&::before {
		border: 1px solid darken($accent-color, 5);
		margin-right: 8px;
		display: inline-block;
		border-radius: 4px;
		background: $accent-color;
		width: 16px;
		height: 16px;
		content: "";
	}
}

a {
	text-decoration: none;
}

p a {
	color: $accent-color;
	border-bottom: 2px solid rgba($accent-color, .5);
	transition: all .2s linear;

	&:hover {
		color: darken($accent-color, 10);
		border-bottom: 1px solid $accent-color;
	}
}