html {
	font-size: 62.5%;
}

body {
	font-family: "Source Sans Pro", serif;
	font-size: 1.6rem;
	line-height: 1.6;
	color: darken(#777b81, 5);
	font-weight: 300;
}

body * + * {
	margin-top: 1em;
}

h1, h2, h3, h4, h5, h6 {
	font-family: "Oak Light", sans-serif;
	color: darken(#777b81, 15);
	font-weight: 600;
	line-height: 1.2;
}

h1 {
	font-size: 3.6rem;
}

p.subtitle {
	font-style: italic;
	color: #000;
}

// h1, h2, h3, h4, h5, h6 {
// 	color: #000;
// 	font-family: "Oak Bold", sans-serif;
// 	line-height: 1.2;
// }

// h4 {
// 	font-size: 1.6rem;
// }

p + p {
	text-indent: 2em;
}

h2.subtitle {
	font-size: 2.4rem;

	&::before {
		border: 1px solid darken($accent-color, 5);
		margin-right: 8px;
		display: inline-block;
		border-radius: 4px;
		background: $accent-color;
		width: 16px;
		height: 16px;
		content: "";
	}
}

// em {
// 	display: inline-block;
// 	background: rgba($accent-color, .3);
// 	font-style: normal;
// }

// sup, sub {
// 	font-size: 1.1rem;
// }

a {
	text-decoration: none;
}

// a {
// 	color: black;
// 	text-decoration: none;
// 	padding-bottom: .7rem;
// 	border-bottom: 2px solid rgba($accent-color, .25);
// 	transition: border-color .2s linear;

// 	&:hover {
// 		color: $accent-color;
// 		border-bottom: 2px solid $accent-color;
// 	}
// }