@charset "utf-8";

$on-xsmall: 480px;
$on-small:  640px;
$on-medium: 720px;
$on-large:  1440px;

$accent-color: #24b47e;

@mixin breakpoint($device) {
	@media screen and (min-width: $device) {
		@content;
	}
}

@font-face {
	font-family: "Oak Light";
	font-style: normal;
	src: url("../fonts/oak-light.ttf") format("truetype");
}

@import url('https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,300i,400,400i,600');

// Grid & Reset.
@import 'reset';
@import 'grid';

@import 'components';
@import 'typography';

@import 'syntax-highlighting';

@import 'entities/about-gallery';
@import 'entities/buttons';
@import 'entities/code';
@import 'entities/lists';
@import 'entities/navigation';
@import 'entities/sections';
@import 'entities/footer';
@import 'entities/slider';
@import 'entities/tag';