m2r2
sphinx >=3.0,<=3.1
sphinx-autodoc-typehints >=1.11,<=1.12
sphinx_rtd_theme

cython
h5py
matplotlib
tqdm
scipy
networkx
zmesh
lz4
flask
fasteners
numpy <= 1.21
coloredlogs
termcolor
scikit-learn>=0.24.1
scikit-image
pyopengl
opencv-python
numba==0.49.1
llvmlite==0.32.1
plyfile
pytest
pytest-runner
pytest-cov
pytest-xdist
prompt-toolkit
dill
pyyaml
git+git://github.com/knossos-project/knossos_utils@dev#egg=knossos_utils
git+git://github.com/StructuralNeurobiologyLab/MorphX@master#egg=morphx
kimimaro
fill-voids
