m2r2
sphinx >=3.0,<=3.1
sphinx-autodoc-typehints >=1.11,<=1.12
sphinx_rtd_theme

git+git://github.com/knossos-project/knossos_utils@dev#egg=knossos_utils
git+git://github.com/StructuralNeurobiologyLab/MorphX@master#egg=morphx
cython
h5py
matplotlib
tqdm
scipy
networkx
lz4
flask
fasteners
numpy <= 1.21
coloredlogs
termcolor
scikit-learn>=0.24.1
scikit-image
pyopengl
opencv-python
numba >0.48
plyfile
pytest
pytest-runner
pytest-cov
pytest-xdist
prompt-toolkit
dill
pyyaml
kimimaro
fill-voids
zmesh

